DreamofMillions/Connected Services/MemberService/DreamsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UserAddorEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAddorEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserAddorEditResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserAddorEditSoapIn">
    <wsdl:part name="parameters" element="tns:UserAddorEdit" />
  </wsdl:message>
  <wsdl:message name="UserAddorEditSoapOut">
    <wsdl:part name="parameters" element="tns:UserAddorEditResponse" />
  </wsdl:message>
  <wsdl:portType name="DreamsWebServiceSoap">
    <wsdl:operation name="UserAddorEdit">
      <wsdl:input message="tns:UserAddorEditSoapIn" />
      <wsdl:output message="tns:UserAddorEditSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DreamsWebServiceSoap" type="tns:DreamsWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserAddorEdit">
      <soap:operation soapAction="http://tempuri.org/UserAddorEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DreamsWebServiceSoap12" type="tns:DreamsWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserAddorEdit">
      <soap12:operation soapAction="http://tempuri.org/UserAddorEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DreamsWebService">
    <wsdl:port name="DreamsWebServiceSoap" binding="tns:DreamsWebServiceSoap">
      <soap:address location="http://localhost:52183/DreamsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="DreamsWebServiceSoap12" binding="tns:DreamsWebServiceSoap12">
      <soap12:address location="http://localhost:52183/DreamsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>